name: Android Debug Build

on:
  workflow_dispatch:
  push:

jobs:
  debug-build:
    name: Build Flutter Android Debug
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup Java 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          check-latest: true
          cache-dependency-path: core/go.sum
          cache: true

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: Setup Cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.pub-cache
            .dart_tool/build
          key: flutter-deps-${{ runner.os }}-${{ hashFiles('pubspec.lock') }}
          restore-keys: |
            flutter-deps-${{ runner.os }}-

      - name: Build Debug APK
        run: |
          flutter pub get
          dart run build_runner build -d
          dart setup.dart android --arch universal --out core
          flutter build apk --dart-define=APP_ENV=pre --dart-define=SENTRY_DSN=dummy_dsn

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Bettbox-${{ matrix.platform }}-${{ matrix.arch }}${{ matrix.compatible == true && '-compatible' || '' }}
          path: ./dist
          compression-level: 9
          overwrite: true
