name: build

on:
  push:
    tags:
      - 'v*'

env:
  IS_STABLE: ${{ !contains(github.ref, '-') }}
  # GOEXPERIMENT: nogreenteagc
  
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: android
            os: ubuntu-24.04
            arch: arm64
          - platform: android
            os: ubuntu-24.04
            arch: amd64
          - platform: android
            os: ubuntu-24.04
            arch: arm
          - platform: windows
            os: windows-2025
            arch: amd64
          - platform: windows
            os: windows-2025
            arch: arm64
          - platform: macos
            os: macos-15
            arch: arm64
          - platform: macos
            os: macos-15
            arch: amd64
          - platform: linux
            os: ubuntu-24.04
            arch: amd64
          - platform: linux
            os: ubuntu-24.04-arm
            arch: arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 1

      - name: Setup Rust
        if: matrix.platform == 'windows'
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.arch == 'arm64' && 'aarch64-pc-windows-msvc' || 'x86_64-pc-windows-msvc' }}

      - name: Setup Keystore
        if: matrix.platform == 'android'
        run: |
          echo "${{ secrets.KEYSTORE }}" | base64 --decode > android/app/keystore.jks
          echo "keyAlias=${{ secrets.KEY_ALIAS }}" >> android/local.properties
          echo "storePassword=${{ secrets.STORE_PASSWORD }}" >> android/local.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> android/local.properties
          
      - name: Setup Java
        if: matrix.platform == 'android'
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: 'gradle'

      - name: Install Dependencies
        if: matrix.platform == 'linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev ninja-build libgtk-3-dev

      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
          cache-dependency-path: core/go.sum

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.os == 'ubuntu-24.04-arm' && 'master' || 'stable' }}
          cache: true
          cache-key: flutter-${{ matrix.platform }}-${{ matrix.arch }}-${{ hashFiles('**/pubspec.lock') }}
          flutter-version: ${{ matrix.os == 'ubuntu-24.04-arm' && '' || '3.38.10' }}

      - name: Build Bettbox
        env:
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
        run: |
          flutter pub get
          dart run build_runner build -d
          dart setup.dart ${{ matrix.platform }} --arch ${{ matrix.arch }} ${{ env.IS_STABLE == 'true' && '--env stable' || '' }}
      
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Bettbox-${{ matrix.platform }}-${{ matrix.arch }}
          path: ./dist
          compression-level: 9
          overwrite: true

  upload:
    permissions: write-all
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download
        uses: actions/download-artifact@v4
        with:
          path: ./dist/
          pattern: Bettbox-*
          merge-multiple: true

      - name: Generate release.md
        run: |
          echo "- Fixes and improvements" > release.md

      - name: Patch release.md
        run: |
          version=$(echo "${{ github.ref_name }}" | sed 's/^v//')
          sed "s|VERSION|$version|g" ./.github/release_template.md >> release.md

      - name: Generate sha256
        if: env.IS_STABLE == 'true'
        run: |
          cd ./dist
          for file in $(find . -type f -not -name "*.sha256"); do
            sha256sum "$file" > "${file}.sha256"
          done  

      - name: Release
        if: ${{ env.IS_STABLE == 'true' }}
        uses: softprops/action-gh-release@v2
        with:
          files: ./dist/*
          body_path: './release.md'